.main-content-payment {
  margin-top: 150px;
}

.main-contentpayment > p {
  margin-right: 100px;
  margin-left: 40px;
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 0px;
}

.main-contentkiriform {
  margin-bottom: 10px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.contentkiri-fotonama > img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-right: 10px;
}

.contentkiri-fotonama {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.hotelnama {
  margin-left: 10px;
}
.hotelnama > h3 {
  font-size: 20px;
}

.contentkiri-border {
  border: 1.5px solid #ddd;
  border-radius: 13px;
}

.contentkiri-checkin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.checkin > h3 {
  font-size: 16px;
}

.checkout > h3 {
  font-size: 16px;
}
.contentkiri-room {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.contentkiri-roomtype > h3 {
  font-size: 16px;
}

.contentkiri-roomroom > h3 {
  font-size: 16px;
}

.contentkiri-roomprice {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-roomprice > h3 {
  font-size: 16px;
}

.contentkiri-ppn {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-ppn > h3 {
  font-size: 16px;
}

.contentkiri-fee {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-fee > h3 {
  font-size: 16px;
}

.contentkiri-promo {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-promo > h3 {
  font-size: 16px;
}

.contentkiri-refund {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-refund > h3 {
  font-size: 16px;
}

.contentkiri-price {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-price > h3 {
  font-size: 16px;
}
