.main-content-tengah {
  height: 100vh;
  background-color: rgb(255, 255, 255);
  /* background-image: url("./benderaindo.jpg"); */
  /* display: flex; */
  /* text-align: center;
  justify-content: center;
  align-content: center; */
  /* position: relative; */
}
