/* bagian kanan */

.formbookharga-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.fromharga-harga {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  margin-top: 10px;
  margin-left: 10px;
}
.fromharga-harga > h3 > i {
  font-size: 20px;
}

.formharga-rating > p > span {
  color: yellow;
  margin-right: 10px;
  font-size: 23px;
}

.formharga-rating > p > b {
  margin-right: 10px;
  font-size: 18px;
  color: yellow;
}

.formbook-harga > h3 > span {
  font-size: 20px;
  color: yellow;
  margin-top: 10px;
  margin-left: 300px;
}
.formbook-harga > span {
  font-size: 20px;
  color: yellow;
}

.formbook-form {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.formbook-checkin {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  vertical-align: middle;
  align-items: center;
}
.formbook-checkin > h3 > i {
  margin-left: 100px;
  margin-right: 100px;
}

.formbook-checkin > h3 {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  vertical-align: middle;
  align-items: center;
}

.formbook-checkin > i {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  vertical-align: middle;
  align-items: center;
}

.formbook-totalprice {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.formbook-totalprice > h3 {
  font-size: 20px;
  color: #303030;
  font-family: Roboto-Regular;
}

.formbook-button > button {
  background: #ffc107;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 12px 40px;
  color: #fff;
  font-family: Roboto-Bold;
  font-size: 14px;
  text-decoration: none;
  display: inherit;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 26px;
  cursor: pointer;
  width: 350px;
  margin-left: 15px;
}

.contentkiri-name {
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 24px; */
  margin-top: 10px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 7px;
}

.contentkiri-name > h3 {
  /* margin-bottom: 24px; */
  font-size: 24px;
  margin-right: 10px;
  /* width: 500px;
  height: 200px; */
  margin-top: 10px;
  vertical-align: baseline;
  /* background-color: tomato; */
}

.contentkiri-name > span {
  /* display: flex; */
  /* margin-left: 00px;
  margin-right: 500px; */
  margin-top: 10px;
  text-align: right;
  margin-top: 10px;
  background-color: tomato;
  /* margin-right: 750px; */
}

.contentkiri-lokasi {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contentkiri-lokasi > h3 {
  font-size: 20px;
}

.contentkiri-lokasi > p {
  font-size: 15px;
}

.contentkiri-fasilitas > h3 {
  font-size: 20px;
}

.contentkiri-fasilitasicon {
  margin-top: 10px;
  margin-bottom: 1px;
}

.contentkiri-rooms > h3 {
  margin-bottom: 10px;
  font-size: 20px;
}
.contentkiri-desc {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contentkiri-desc > h3 {
  font-size: 20px;
}
.contentkiri-policy {
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contentkiri-policy > h3 {
  margin-top: 10px;

  margin-left: 5px;
  font-size: 18px;
}

.contentkiri-policy > span {
  margin-top: 10px;

  margin-left: 5px;
  font-size: 15px;
}

.contentkiri-riview {
  /* display: flex;
  justify-content: space-between;
  margin-bottom: 24px; */
  margin-top: 10px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  padding-bottom: 7px;
}

.contentkiri-riview > h3 {
  font-size: 20px;
  margin-right: 10px;
}
.contentkiri-riview > span {
  font-size: 15px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.button-fitur {
  width: 238px;
  height: 53px;
  background-color: #ffc107;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card-fitur .overlay {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.card-fitur .overlay:hover {
  background-color: rgba(0, 0, 0, 0) 0.6;
  opacity: 1;
}

/* .coba {
  width: 100%;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 12px;
  position: relative;
  font-family: Roboto-Regular;
  padding: 0 60px;
  box-sizing: border-box;
} */
